* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
}

.sidebar {
    grid-row: 1 / 3;
    background-color: lightblue;
}

.main-content {
}