* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

div {
    border: 1px solid black;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


/* header styles */
.header {
    background-color: lightgray;
}

/* sidebar styles */
.sidebar {
    grid-row: 1 / 3;
    background-color: lightblue;
    display: grid;
}
    
/* main content styles */
.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    padding: 25px;
}

.performance-overview {
    grid-column: 1 / 3;
}
.profile-visits {
    grid-column: 3 / 5;
}

.project-container {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.announcements {
    grid-column: 4 / 5;
}

.trending {
    grid-column: 4 / 5;
}

/* profile picture styles */
.profile-picture {
    height: 60px;
}